* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

.header-covid {
    padding: 12px;
    background:black;
    color: #FFFFFF;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
}
.header-covid p {
    margin-bottom: 3.5px;
}
.header-covid p:hover {
    color: #B1B1B1;
    text-decoration: underline #B1B1B1;
}

.section-main {
    height: 95vh;
    background:url(../img/test2.jpg) no-repeat center center/cover;
}

#logo {
    width: 115px;
    margin-top: 15px;
    margin-left: 25px;
    position: absolute;
    cursor: pointer;
}
.flexed-center {
    display: flex;
    justify-content: center;
}
.header-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.15rem;
    margin: 15px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}
.header-links a:hover {
    border-bottom: 1px solid white;
}
.intro {
    /* margin-top: 80px; */
    margin-left: 100px;
    font-size: 3.5rem;
    color: #FFFFFF;
    line-height: 90px;
}
#last-child-h1 {
    margin-bottom: -20px;
}
.intro h5 {
    color: black;
    background: #FFFFFF;
    display: inline;
    padding: 12.5px;
    border-radius:40px;
    font-size: 1rem;
    cursor: pointer;
}
.intro h5:hover {
    background: #F7F7F7;
}
.navbar {
    display: flex;
    justify-content: space-around;
    font-size: .9rem;
    border-radius: 25px;
    margin: auto;
    width: 45%;
    background: white;
    font-size: .8rem;
    text-align: center;
}
.navbar h4 {
    color: grey;
}
#item-1, #item-2, #item-3,#item-4 {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
#mag-glass {
    display: table;
    margin: auto;
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 50%;
    padding: 12.5px;
    margin-top: 30px;
    cursor: pointer;
    font-size:2.3rem;
    box-shadow: 0 0 4px #999;
    background-position: center;
    transition: background 0.8s;
}

#mag-glass:hover {
    background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    color: white;
}
  #w3review {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 20px;
      font-size: 1.1rem;
      visibility: hidden;
      width: 25%;
      height: 35px;
      resize: none;
      border: none;
      border-radius: 20px;
  }

  textarea {
      padding: 7.5px;
      font-weight: 600;
  }
.section-2 {
    height: 800px;
}
.row-first, .row-two {
      margin-top: 35px;
      font-size: 1.15rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
}
.row-two {
      margin-top: 20px;
}
.row-first img, .row-two img {
      height: 70px;
      border-radius: 10px;
}
.row-item {
      display: flex;
      flex-direction: row;
      align-items: center;
}
.row-img-text{
      margin-left: 5px;
}
.row-img-text h5 {
      font-weight: 300;
}
.accomodations {
    margin-top: 85px;
    margin-left: 80px;
    margin-right: 80px;
}
.accomodations img {
    height: 285px;
}
.accomodations h1 {
    margin-left: 3.5px;
}
.house-pictures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;

}
.house-item {
    cursor: pointer;
}
